*{
    margin: 0
}
.posicoes aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    margin-right: 0%;
    background: #95cbe6;
    overflow-y: auto;
    transition: all ease 0.5s;
   
}

#estilo{
    position: relative;
    text-align: center;
    font-size: 25px;  
    margin-bottom: 15%;
    background-color: #50a2c2;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 1px 1px;
    padding-top: 8%;
    padding-bottom: 8%;
}

#sub-titulo{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.posicoes aside .campos-aside{
    /* padding-right: 25px; */
    margin-left: 15%;
    display: block;
}
 
.dropdown {
    padding-left: 5%;    
    margin-top: 10%;
    cursor: pointer;
    background-color: #50a2c2;
    border-radius: 10px 10px 10px 10px; /* adiciona cantos arredondados de 10 pixels */
    box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

#imagem{
    width: 8%;
    float: right;
    margin-top: 1%;
}
  
.dropdown:hover {
background-color: #66a8c2;
box-shadow: 2.5px 2.5px 2.5px 2.5px;
}

.dropdown-content {
    display: none;
}

.show{
    display: inline-block;
}

.window{
    position: absolute;    
}

.container {
    margin-top: 20px;
    margin-left: 270px;
}

.btn-group {
    display: flex;
}

.btn-group form {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 0;
}

input[type="text"] {
    width: 100%;
}

#button{
    padding: 5px;
}

.btn btn-primary{
    width: 10px; 
    height: 5px;  
}