/* .posicoes aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #109ea8;
    overflow-y: auto;
    width: 280px;
    transition: all ease 0.5s;
    padding: 0 15px;
}

#mostrar{
    position: relative;
    left: 45%;
}
.posicoes #mostrar #titulos{
    padding-right: 35px;
}
 */
