.edit-table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}

.carousell {
    display: flex;
    
}

.cards {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    background-color: #b1e5ee;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /*define a direção da coluna */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cards form {
    margin-top: 10px; /*margem superior para separar o formulário do texto */
}