<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/bootstrap/js/bootstrap.js">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="image/png" href="janela">
        <title>Bem Vindo</title>
    </head>
    <body>
        <aside>
            <h1 id="estilo">Creating table</h1>
            <nav id='sub-titulo' class="nav-menu">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link active" href="#inicio">
                            <img id="imagem" src="../static/img/seta-direita.png">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#criar">
                            <img id="imagem" src="../static/img/seta-direita.png">Criar</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link active" href="#ver">
                            <img id="imagem" src="../static/img/seta-direita.png">Ver Tabelas</a>
                    </li>

                    

                </ul>
            </nav>    
        </aside>

        <menu id="main"> 
            <section id="inicio" class="row m-0 p-0">
                <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
                    <p class="text-white">Bem-vindo ao Gerenciador CRUD!</p>
                    <p class="text-white">Aqui você pode criar, ler, atualizar e excluir registros.</p>         
                </div>                
            </section>

            <br><hr> <br>
            
            <!-- section tables -->
            <section id="criar" class="mt-5">
                <div class="container pb-5 pt-5" >   
                    <h2 class="pb-4">Criar</h2>  
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card">
                                <div class="d-flex justify-content-center">
                                    <p>
                                        Lorem ipsum interdum fusce lectus interdum ligula morbi cubilia fringilla, 
                                        vel urna sociosqu taciti in aliquam per consectetur et placerat, pellentesque 
                                        et vehicula elit dolor massa eleifend sem. platea sed quisque nam porta ligula 
                                        gravida a, lorem blandit interdum eros vehicula scelerisque metus, ligula 
                                        imperdiet semper litora donec sociosqu. aliquam senectus neque quam id turpis 
                                        inceptos id congue tristique, posuere nullam sollicitudin auctor curabitur morbi 
                                        ultrices blandit, torquent a vulputate tincidunt nostra dolor purus volutpat. 
                                        eget augue tempor ullamcorper curabitur ad euismod vel, arcu gravida aenean class 
                                        velit leo cursus, dapibus tellus volutpat vitae odio ad.   
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">  
                                <h5 class="card-title">Digite o nome:</h5>
                             
                                <div class="d-flex justify-content-center">
                                    <form action="{{ url_for('create_table') }}" method="POST">
                                        <input type="text" name="name" placeholder="Nome da tabela" required>
                                        <button type="submit">Criar</button>
                                    </form>
                                </div> 
                                
                            </div>
                        </div>                       
                    </div>
                </div>
            </section>

            <!-- section Que lista as tabelas -->
            <section id="Editar" class="mt-5">
                <div class="container">
                
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">                                 
                                    <h2>Lista de Tabelas:</h2>
                                    {% for table in tables %}
                                        <div class="table-item {% if loop.index % 2 == 1 %}color1{% else %}color2{% endif %}">
                                            <a href="{{ url_for('edit_table', table_id=table.id) }}">{{ table.name }}</a>
                                            <form action="{{ url_for('delete_table', table_id=table.id) }}" method="post" style="display: inline;">
                                                <button type="submit" onclick="return confirm('Tem certeza que deseja excluir esta tabela?')">Delete</button>
                                            </form>
                                        </div>
                                    {% endfor %} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <br><br>

            <section id="ver">
                <div class="container pb-5 pt-5" >   
            
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card">
                                <div class="d-flex justify-content-center">
                                    <p>
                                        Aqui vai um texto bem legal sobre a funcionalidade
                                        do boton ao lado.   
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col">                                                      
                            <div class="d-flex justify-content-center">
                                <a href="{{ url_for('show_tables') }}" class="btn">Ver Tabelas</a>
                            </div>                               
                        </div>                       
                    </div>
                </div>

            </section>

               
        </menu>

        <script src="../static/script.js"></script> <!-- Referencia para arquivos js -->
        <script src="../static/js/jquery-3.6.4.js"></script> <!-- Chamada de jQuery -->    
    </body>
</html>
