<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
        <aside id="header">
            <div class="formularios container">
                <nav>
                    <ul class="nav flex-column">
                        <li class="dropdown">
                            <button>Cadastrar Usuário</button>
                            <div class="dropdown-content">
                                <h5>Insira os dados:</h5>
                                <form name="cadastrar" method="post" action="/cadastrar">
                                    <label for="nome">Nome:</label>
                                    <input type="text" name="nome" placeholder="Insira o Nome" required>
                                    <br><br>
                                    <label for="idade">Idade:</label>
                                    <input type="text" name="idade" placeholder="Insira a Idade" required>
                                    <br><br>
                                    <button type="submit">Cadastrar</button>
                                </form>

                                <br>
                                <br>
                                <button action="/ler" >Mostrar</button>

                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <table id="mostrar">
                            
                {% for p in listagem %}
                <tr>
                    <td>{{p.name}}</td>
                    <td>{{p.idade}}</td>
                    <td>lápis</td>
                    <td>x</td>
                </tr>
                {% endfor %}
            </table>

        </aside>

    </body>

</html>